name: Build Pull Request

on:
  pull_request:
    branches:
      - '*'

concurrency:
   group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
   cancel-in-progress: true

jobs:
  build-test:
    runs-on: [gpu]
    steps:
      - name: Define environment variables
        run: |
          echo IMAGE_NAME=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
          echo TAG=$(echo "PR-${{ github.event.pull_request.number }}") >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Copy external assets
        run: cp /home/runner/NVIDIA-OptiX-SDK-7.6.0-linux64-x86_64.sh .

      - name: Set up docker
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{ env.IMAGE_NAME }}:${{ env.TAG }}
          load: true
          push: true
          cache-from: |
            type=local,src=/home/runner/.buildx-cache
            type=registry,ref=${{ env.IMAGE_NAME }}:latest
          cache-to: |
            type=inline
            type=local,dest=/home/runner/.buildx-cache-new,mode=max

      - name: Move cache
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        run: |
          rm -rf /home/runner/.buildx-cache
          mv /home/runner/.buildx-cache-new /home/runner/.buildx-cache

      - name: Test image
        run: |
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.TAG }} tests/test_opticks.sh

      - name: Test esi-shell
        run: |
          ./esi-shell -v ${{ env.TAG }} "opticks-full-prepare && opticks-t"
